/* Fonts */
.kaushan-script-regular {
  font-family: "Kaushan Script";
  font-weight: 400;
  font-style: normal;
}

.noto-sans-mono-para {
  font-family: "Noto Sans Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

body {
    text-align: center;
    background: plum;
    font-family: "Noto Sans Mono";
}

/* Creates background for nav bar buttons */
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: pink;
}

ul li {
    display: inline-block;
}

/* Creates button for nav bar and widens it */
ul li a {
    display: block;
    color: blue;
    padding: 10px 30px;
    text-decoration: 0; /* So there's no underline on the text */
}

ul li a:hover {
    background-color: rgb(212, 54, 107);
    color: white;
}

/* Makes the text not run to the edges of the screen */
.para {
    padding-left: 100px;
    padding-right: 100px;
}


